/* DESKTOP FIRST - large devices (min 992px) */
/* GENERAL SETTINGS */

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Width and containers */
*{
   box-sizing: border-box;
}

/* body {
   font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
} */

body {
   font-family: 'Raleway', sans-serif;
	display: flex;
   flex-direction: column;
   align-items: center;
}

#container{
   width: 95%;
   max-width: 1400px;
}

/* Text color */
h1, h2, h3, nav a{
   color: #000;
}

/* Background colors */
.blue{
   background-color: #0065FC;
}

.light-blue{
   background-color: #DEEBFF;
}

.grey{
   background-color: #F2F2F2;
}

/* Borders styles */
.border-grey{
   border: 2px solid #F2F2F2;
}

.circle{
   color: #0065FC;
   border-radius: 50%;
}


/* HEADER */
header{
   display: flex;
   justify-content: space-between;
   height: 120px;
}

#logo{
   display: flex;
   align-items: center;
}

#logo img{
   height: 45px;
   margin-left: 10px;
}

nav{
   display: flex;
   align-items: center;
   height: 80%;
}

nav ul{
   display: flex;
   list-style-type: none;
}

nav a{
   text-decoration: none;
   color: #000;
   padding: 35px 30px;
}

nav a:hover{
   color: #0065FC;
   border-top: 3px solid #0065FC;
}


/* MAIN */
/* SECTION SEARCH */

/* search-header Part */
h1{
   font-size: 23px;
   margin: 0 0 10px 0;
}

#search-header p{
   margin: 5px 0 15px 0;
}

/* Form Part */
#locat-icon, #location, #research-btn{
   margin: 0;
   padding: 17px;
   font-size: 17px;
   font-weight: bold;
}

#locat-icon{
   border-radius: 15px 0 0 15px;
   font-size: 20px;
}

#location{
   padding: 16px;
   position: relative;
   bottom: 1px; right: 5px;
}

#research-btn{
   color: #fff;
   border: none;
   border-top: 1px solid #0065FC;
   border-radius: 0 15px 15px 0;
   position: relative;
   right: 10px;
   cursor: pointer;
}

#research-icon{
   display: none;
}

/* Filters Part */
#research-filters{
   display: flex;
   flex-direction: row;
   align-items: baseline;
   margin: 30px 0;
   font-weight: bold;
}

#filter-title{
   margin: 0 30px 0 10px;
}

#filter-content{
   display: flex;
   flex-wrap: wrap;
   gap: 10px 20px;
}

.filter{
   display: flex;
   flex-direction: row;
   justify-content: baseline;
   align-items: center;
}

.filter-txt{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding-right: 20px;
   color: #000;
   text-decoration: none;
   height: 50px;
   border-left: none;
   border-radius: 50px;
}

.filter i{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 51px;
   height: 51px;
   margin-right: 10px;
   overflow: visible;
   font-size: 20px;
}

.filter-txt:hover{
   background-color: #0065FC;
   color: #fff;
}

/* Info Part */
#info{
   display: flex;
   align-items: baseline;
   margin-bottom: 20px;
}

#info-icon{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   font-size: 18px;
   margin-right: 10px;
}


/* ACCOMODATIONS PART */
/* Sections size and position */
#accomodations{
   display: flex;
   column-gap: 40px;
}

#marseille, #popular{
   padding: 2% 3%;
   border-radius: 20px;
}

#marseille{
   width: 66.5%;
   display: flex;
   flex-direction: column;
   gap: 30px;
}

#popular{
   width: 33.5%;
   display: flex;
   flex-direction: column;
   gap: 30px;
}

/* GENERALS CARDS settings */

/* Font-size */
h2, .star-dark{
   font-size: 22px;
   margin: 0;
}

.marseille-title h3, .popular-title h3{
   font-size: 16px;
}

.marseille-txt p, .popular-txt p{
   font-size: 14px;
}

 .stars-icons{
   font-size: 10px;
}

/* Stars colors */
.star-dark{
   color: #000;
}

.star-blue{
   color: #0065FC;
}

.star-grey{
   color: #F2F2F2;
}

/* SECTION marseille */
#marseille-title{
   margin-top: 2%;
}

.marseille-container{
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   width: 100%;
}

.marseille-card{
   width: 30%;
   background-color: white;
   border: 5px solid #fff;
   border-radius: 20px;
   box-shadow: 0px 5px 20px #999;
 }

 .marseille-card a{
   color: #000; 
   text-decoration: none;
 }

 .marseille-img{
   height: 110px;
   position: relative;
   overflow: hidden;
   border-radius: 15px 15px 0 0;
 }

 .marseille-img img{
   width: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   object-fit: cover;
 }

 .marseille-card:hover  h3{
   color: #0065FC;
}

 .marseille-body{
   margin: 4% 4% 1% 4%;
}

 .marseille-title h3, .marseille-icon p{
   margin: 0;
 }

 .marseille-txt p{
   margin: 3% 0;
 }

 #see-more{
   font-weight: bold;
 }

/* SECTION popular */
#popular-title{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 15px;
}

#popular-title i{
   display: flex;
   align-items: center;
}

.popular-container{
   display: flex;
   flex-direction: column;
   gap: 30px;
   /* row-gap: 30px; */
}

.popular-card{
   width: 100%;
   background-color: white;
   border: 5px solid #fff;
   border-radius: 20px;
   box-shadow: 0px 5px 20px #999;
 }

 .popular-card a{
   display: flex;
   flex-direction: row;
   color: #000; 
   text-decoration: none;
 }

 .popular-img{
   min-width: 40%;
   height: 140px;
   position: relative;
   overflow: hidden;
   border-radius: 15px 0 0 15px;
 }

 .popular-img img{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   object-fit: cover;
 }
 
 .popular-card:hover h3{
   color: #0065FC;
}

 .popular-body{
   margin: 4% 6% 1% 6%;
}

 .popular-title h3, .popular-icon p{
   margin: 0;
 }

 .popular-txt p{
   margin: 3% 0 28% 0;
 }

 
/* .popular-link{
   width: 100%;
}

.card-popular{
   display: flex;
   flex-direction: row;
   background-color: #fff;
   border: 5px solid #fff;
   border-radius: 20px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-popular-img{
   width: 50%;
}

.card-popular-img img{
   border-radius: 20px 0 0 20px;
}

.card-body{
   display: flex;
   flex-direction: column;
} */


                  /* CARD exemple */
                  /* .card{
                     width: 100px;
                     height: 100px;
                     border: 5px solid;
                     position: relative;
                  }

                  .card a:before{
                     position: absolute;
                     top: 0;
                     left: 0;
                     bottom: 0;
                     right: 0;
                     content: "";
                  }

                  .card a{
                     text-decoration: none;
                     color: #000;
                  } */

