/* DESKTOP FIRST - large devices (min 992px) */
/* GENERAL SETTINGS */

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Width and containers */
*{
   box-sizing: border-box;
}

/* body {
   font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
} */

body {
   font-family: 'Raleway', sans-serif;
	display: flex;
   flex-direction: column;
   align-items: center;
}

#container{
   width: 95%;
}

/* Text color */
h1, h2, h3, nav a{
   color: #000;
}

/* Background colors */
.blue{
   background-color: #0065FC;
}

.light-blue{
   background-color: #DEEBFF;
}

.grey{
   background-color: #F2F2F2;
}

/* Borders styles */
.border-grey{
   border: 2px solid #F2F2F2;
}

.circle{
   color: #0065FC;
   border-radius: 50%;
}


/* HEADER */
header{
   display: flex;
   justify-content: space-between;
   height: 120px;
}

#logo{
   display: flex;
   align-items: center;
}

#logo img{
   height: 45px;
   margin-left: 10px;
}

nav{
   display: flex;
   align-items: center;
   height: 80%;
}

nav ul{
   display: flex;
   list-style-type: none;
}

nav a{
   text-decoration: none;
   color: #000;
   padding: 35px 30px;
}

nav a:hover{
   color: #0065FC;
   border-top: 3px solid #0065FC;
}


/* MAIN */

/* SECTION SEARCH */
/* search-header Part */
h1{
   font-size: 23px;
   margin: 0 0 10px 0;
}

#search-header p{
   margin: 5px 0 15px 0;
}

/* Form Part */
#locat-icon, #location, #research-btn{
   margin: 0;
   padding: 17px;
   font-size: 17px;
   font-weight: bold;
}

#locat-icon{
   border-radius: 15px 0 0 15px;
   font-size: 20px;
}

#location{
   padding: 16px;
   position: relative;
   bottom: 1px; right: 5px;
}

#research-btn{
   color: #fff;
   border: none;
   border-top: 1px solid #0065FC;
   border-radius: 0 15px 15px 0;
   position: relative;
   right: 10px;
   cursor: pointer;
}

#research-icon{
   display: none;
}

/* Filters Part */
#research-filters{
   display: flex;
   flex-direction: row;
   align-items: baseline;
   margin: 30px 0;
   font-weight: bold;
}

#filter-title{
   margin: 0 30px 0 10px;
}

#filter-content{
   display: flex;
   flex-wrap: wrap;
   gap: 10px 20px;
}

.filter{
   display: flex;
   flex-direction: row;
   justify-content: baseline;
   align-items: center;
}

.filter-txt{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding-right: 20px;
   color: #000;
   text-decoration: none;
   height: 50px;
   border-left: none;
   border-radius: 50px;
}

.filter i{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 51px;
   height: 51px;
   margin-right: 10px;
   overflow: visible;
   font-size: 20px;
}

.filter-txt:hover{
   background-color: #0065FC;
   color: #fff;
}

/* Info Part */
#info{
   display: flex;
   align-items: baseline;
   margin-bottom: 20px;
}

#info-icon{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   font-size: 18px;
   margin-right: 10px;
}


/* ACCOMODATIONS PART */
/* SECTIONS size and position */
#accomodations{
   display: flex;
   column-gap: 40px;
}

#marseille, #popular{
   padding: 2% 3%;
   border-radius: 20px;
}

#marseille{
   width: 66.5%;
   display: flex;
   flex-direction: column;
   gap: 30px;
}

#popular{
   width: 33.5%;
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.marseille-container, .popular-container{
   display: flex;
   gap: 25px;
}

/* GENERALS CARDS settings */
.marseille-card, .popular-card{
   background-color: white;
   border: 5px solid #fff;
   border-radius: 20px;
   box-shadow: 0px 5px 20px #999;
 }

 .marseille-card a, .popular-card a, #see-more a{
   color: #000; 
   text-decoration: none;
 }

 /* IMG card */
 .marseille-img, .popular-img{
   position: relative;
   overflow: hidden;
 }

 .marseille-img img, .popular-img img{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   object-fit: cover;
 }

/* HOVER card */
.marseille-card:hover h3, .popular-card:hover h3{
   color: #0065FC;
}

/* BODY card */
.marseille-title h3, .marseille-icon p, .popular-title h3, .popular-icon p{
   margin: 0;
 }

/* Font-size */
h2, .star-dark{
   font-size: 22px;
   margin: 0;
}

.marseille-title h3, .popular-title h3{
   font-size: 16px;
}

.marseille-txt p, .popular-txt p{
   font-size: 14px;
}

 .stars-icons{
   font-size: 10px;
}

/* Stars colors */
.star-dark{
   color: #000;
}

.star-blue{
   color: #0065FC;
}

.star-grey{
   color: #F2F2F2;
}

/* SECTION marseille */
#marseille-cards-title{
   margin-top: 2%;
}

.marseille-container{
   flex-wrap: wrap;
}

.marseille-card{
   display: flex;
   flex-grow: 1;
   width: 30%;
 }

 .marseille-card a{
   width: 100%;
 }

 .marseille-img{
   height: 110px;
   border-radius: 15px 15px 0 0;
 }

 .marseille-body{
   margin: 4% 4% 1% 4%;
}

 .marseille-txt p{
   margin: 3% 0;
 }

 #see-more{
   font-size: 18px;
   font-weight: bold;
 }

/* SECTION popular */
#popular-cards-title{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 15px;
}

#popular-cards-title i{
   display: flex;
   align-items: center;
}

.popular-container{
   flex-direction: column;
}

.popular-card{
   width: 100%;
 }

 .popular-card a{
   display: flex;
   flex-direction: row;
 }

 .popular-img{
   min-width: 40%;
   height: 140px;
   border-radius: 15px 0 0 15px;
 }

 .popular-body{
   margin: 4% 6% 1% 6%;
}

 .popular-txt p{
   margin: 3% 0 28% 0;
 }


/* SECTION ACTIVITIES */
#activities{
   width: 100%;
   margin-bottom: 70px;
}

#activities-img-title h2{
   font-size: 22px;
   margin: 50px 0 20px 0;
}

/* Activities cards */
#activities-container{
   display: flex;
   flex-direction: row;
   gap: 30px;
}

.activities-content{
   display: flex;
   flex-direction: column;
   flex: 1;
   gap: 30px;
   width: 25%;
   height: 450px;
 }

 .activities-content .content-a{
   height: 60%;
 }

 .activities-content .content-b{
   height: 40%;
 }
 
 .activities-content .content-c{
   height: 45%;
 }

 .activities-content .content-d{
   height: 55%;
 }

.activities-card{
   box-shadow: 0px 5px 20px #999;
   border-radius: 20px;
   height: 100%;
}

.activities-card a{
   color: #000;
   text-decoration: none;
}

.activities-card:hover h3{
   color: #0065FC;
}

.activities-img{
   position: relative;
   overflow: hidden;
   height: calc(100% - 50px);
 }

.activities-img img{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   object-fit: cover;
   border-radius: 20px 20px 0 0;
}

.activities-title h3{
   font-size: 14px;
   margin: 0;
   padding: 15px;
}


/* FOOTER */
footer{
   display: flex;
   align-items: center;
   width: 100%;
   padding: 40px 40px 30px 40px;
}

#footer-container{
   display: flex;
   flex-direction: row;
   flex: 1;
   width: 100%;
}

.footer-content{
   margin-right: 200px;
}

.footer-content h4{
   font-size: 16px;
   margin: 0 0 15px 0;
}

.footer-links{
   width: 100%;
   padding-left: 0;
   white-space: nowrap;
}

.footer-links li{
   list-style-type: none;
   margin-top: 8px;
}

.footer-links a{
   width: 100%;
   font-size: 14px;
   color: #000; 
   text-decoration: none;
}