/* PHONES - small devices (less than 768px) */
/* GENERAL SETTINGS */

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Width and main position */
*{
   box-sizing: border-box;
}

/* body {
   font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
} */

body {
   font-family: 'Raleway', sans-serif;
	display: flex;
   flex-direction: column;
   align-items: center;
}

#container{
   width: 100%;
   max-width: 768px;
}

#main-mobile-container, #footer-mobile-container{
   width: 90%;
   margin: auto;
}

/* Text color */
h1, h2, h3, nav a{
   color: #000;
}

/* Background colors */
.blue{
   background-color: #0065FC;
}

.light-blue{
   background-color: #DEEBFF;
}

.grey{
   background-color: #F2F2F2;
}


/* HEADER */
header{
   display: flex;
   flex-direction: column;
   justify-content: none;
   align-items: center;
}

#logo{
   display: flex;
   align-items: center;
}

#logo img{
   height: 45px;
   margin: 20px 0;
}

nav{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: stretch;
   width: 100%;
}

nav ul{
   display: flex;
   justify-content: center;
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}

nav li{
   display: flex;
   width: 50%;
}

nav a{
   text-decoration: none;
   color: #000;
   text-align: center;
   width: 100%;
   padding: 15px 0 10px 0;
   border-bottom: 3px solid #F2F2F2;
}

nav a:hover{
   color: #0065FC;
   border-top: none;
   border-bottom: 3px solid #0065FC;
}


/* MAIN */
/* SECTION SEARCH */

/* search-header Part */
h1{
   font-size: 23px;
   margin: 40px 0 0 0;
}

#search-header p{
   margin: 5px 0 15px 0;
}

/* Form Part */
fieldset{
   border: none;
   margin: 0;
   padding: 0;
}

#locat-icon, #location, #research-icon{
   margin: 0;
   padding: 16px;
   font-size: 16px;
   font-weight: bold;
   width: fit-content;
   border: 1px solid #F2F2F2;
}

#locat-icon{
   border-radius: 15px 0 0 15px;
}

#location{
   padding: 15px;
   position: relative;
   bottom: 1px; right: 5px;
}

#research-btn{
   display: none;
}

#research-icon{
   display: inline ;
   color: #fff;
   border: none;
   border-radius: 15px;
   position: relative;
   right: 20px;
}


