/* PHONES - small devices (less than 768px) */
/* GENERAL SETTINGS */

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Width and main position */
*{
   box-sizing: border-box;
}

/* body {
   font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
} */

body {
   font-family: 'Raleway', sans-serif;
	display: flex;
   flex-direction: column;
   align-items: center;
}

#container{
   width: 100%;
   max-width: 768px;
}

#main-mobile-container, #footer-mobile-container{
   width: 90%;
   margin: auto;
}

/* Text color */
h1, h2, h3, nav a{
   color: #000;
}

/* Background colors */
.blue{
   background-color: #0065FC;
}

.light-blue{
   background-color: #DEEBFF;
}

.grey{
   background-color: #F2F2F2;
}

/* Borders styles */
.border-grey{
   border: 2px solid #F2F2F2;
}

.circle{
   color: #0065FC;
   border-radius: 50%;
   text-align: center;
}


/* HEADER */
header{
   display: flex;
   flex-direction: column;
   justify-content: none;
   align-items: center;
}

#logo{
   display: flex;
   align-items: center;
}

#logo img{
   height: 45px;
   margin: 20px 0;
}

nav{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: stretch;
   width: 100%;
}

nav ul{
   display: flex;
   justify-content: center;
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}

nav li{
   display: flex;
   width: 50%;
}

nav a{
   text-decoration: none;
   color: #000;
   text-align: center;
   width: 100%;
   padding: 15px 0 10px 0;
   border-bottom: 3px solid #F2F2F2;
}

nav a:hover{
   color: #0065FC;
   border-top: none;
   border-bottom: 3px solid #0065FC;
}


/* MAIN */
/* SECTION SEARCH */

/* search-header Part */
h1{
   font-size: 23px;
   margin: 40px 0 10px 0;
}

#search-header p{
   margin: 5px 0 15px 0;
}

/* Form Part */
form{
   display: flex;
   flex-wrap: nowrap;
   margin: 25px 0;
}

#locat-icon, #location, #research-icon{
   margin: 0;
   padding: 16px;
   font-size: 16px;
   font-weight: bold;
}

#locat-icon{
   border-radius: 15px 0 0 15px;
   font-size: 18px;
}

#location{
   padding: 15px;
   position: relative;
   bottom: 1px; right: 5px;
   min-width: 150px;
   /* set a min-with for reduce the search bar */
}

#research-btn{
   display: none;
}

#research-icon{
   display: inline ;
   color: #fff;
   border: none;
   border-top: 1px solid #0065FC;
   border-radius: 15px;
   position: relative;
   right: 22px;
   cursor: pointer;
   font-size: 18px;
}

/* Filters Part */
#research-filters{
   display: flex;
   flex-direction: row;
   align-items: baseline;
   flex-wrap: wrap;
   margin: 20px 0;
   font-weight: bold;
}

#filter-title{
   margin: 0 100% 15px 0;
}

#filter-content{
   display: flex;
   flex-wrap: wrap;
   gap: 10px 20px;
}

.filter{
   display: flex;
   flex-direction: row;
   justify-content: baseline;
   align-items: center;
}

.filter-txt{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding-right: 15px;
   color: #000;
   text-decoration: none;
   height: 50px;
   border-left: none;
   border-radius: 50px;
}

.filter i{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 51px;
   height: 51px;
   margin-right: 10px;
   overflow: visible;
   font-size: 20px;
}

.filter-txt:hover{
   background-color: #0065FC;
   color: #fff;
}

/* Info Part */
#info{
   display: flex;
   align-items: baseline;
   margin-bottom: 20px;
}

#info-icon{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   font-size: 18px;
   margin-right: 10px;
}


